<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/form.css" />
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="breadcrumb">
      <span class="breadcrumb-item"><a href="/">Home</a></span>/ 
      <span class="breadcrumb-item"><a href="/users">Users</a></span>/
      <span class="breadcrumb-item">Create</span>
    </div>

    <div class="container">
      <% if (data.message) { %>

      <div class="alert" id="alert">
        <span><%- data.message %> </span>
        <button class="close-btn" onclick="closeAlert()">X</button>
      </div>
      <% } %>

      <div class="form-container">
        <h2>Create User</h2>
        <form action="/users/create" method="POST">
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input
              type="text"
              id="firstName"
              name="firstName"
              value="<%= user.firstName %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input
              type="text"
              id="lastName"
              name="lastName"
              value="<%= user.lastName %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="role">Role:</label>
            <select name="role" id="role">
              <option value="admin" <%= user.role === 'admin' ? 'selected' : ''  %>>Admin</option>
              <option value="employee"  <%= user.role === 'employee' ? 'selected' : ''  %>>Employee</option>
            </select>
          </div>
          <div class="form-group">
            <label for="age">Age:</label>
            <input
              type="number"
              id="age"
              name="age"
              value="<%= user.age %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input
              type="text"
              id="username"
              name="username"
              value="<%= user.username %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
          </div>
          <div class="form-group">
            <input type="submit" value="Create" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
