      <div class="form-container">
        <h1>Create Notification</h1>
        <form action="/todoes/create" method="POST">
          <div class="form-group">
            <label for="user">Select User:</label>
            <select name="user" id="user">
              <option value="all" >All Users</option>
              <% users.forEach(user => { %>
              <option value="<%= user.id %>" <%= todo.user === user.id ? 'selected': '' %> >
                <%= user.firstName %> <%= user.lastName %>
              </option>
              <% }); %>
            </select>
          </div>
          <div class="form-group">
            <label for="guide">Select Guide:</label>
            <select name="guide" id="guide">
              <% guides.forEach(guide => { %>
              <option value="<%= guide.id %>"  <%= todo.guide === guide.id ? 'selected': '' %> ><%= guide.title %></option>
              <% }); %>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn">Create Notification</button>
          </div>
        </form>
      </div>
