<main>
  <section class="element-detail">
    <div class="item-info">
      <h2>Author Information</h2>
      <div>
        <strong>Name:</strong>
        <h2 style="display: inline-block;" id="first-name"><%= author.name %></h2>
      </div>

      <% if (currentUser.role==='admin') { %>
        <br />
        <a class="btn edit" href="/authors/<%= author.id %>/edit">Edit</a>
        <a class="btn delete" href="/authors/<%= author.id %>/delete"> Delete </a>  
      <% } %>
      <br>
      <br>
      <div>
        
        <strong><%= books?.length ? `Books (${ author.bookCount })` : 'Author has no book' %></strong>
        <% if (books.length) { %>
          <ul>
            <% books.forEach(book => { %>
              <li>
                <span id="last-name"><a href="/books/<%= book.id %>"><%= book.title %></a></span>
              </li> 
            <% }) %>
          </ul>
        <% } %>
      </div>
      <br />
    </div>
  </section>
</main>
