<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/form.css" />
  </head>
  <body>
    <div class="header">
      <h1>User Management System</h1>
      <div class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users/create">Create User</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <% if (data.message) { %>

      <div class="alert" id="alert">
        <span><%- data.message %> </span>
        <button class="close-btn" onclick="closeAlert()">X</button>
      </div>
      <% } %>

      <div class="form-container">
        <h2>Create User</h2>
        <form action="/users/create" method="POST">
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input
              type="text"
              id="firstName"
              name="firstName"
              value="<%= data.firstName %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input
              type="text"
              id="lastName"
              name="lastName"
              value="<%= data.lastName %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="role">Role:</label>
            <select name="role" id="role">
              <option value="admin">Admin</option>
              <option value="employee">Employee</option>
            </select>
          </div>
          <div class="form-group">
            <label for="age">Age:</label>
            <input
              type="number"
              id="age"
              name="age"
              value="<%= data.age %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input
              type="text"
              id="username"
              name="username"
              value="<%= data.username %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
          </div>
          <div class="form-group">
            <input type="submit" value="Create" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
