<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Todo</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="stylesheet" href="/assets/form.css" />
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="breadcrumb">
      <span class="breadcrumb-item"><a href="/">Home</a></span
      >/ <span class="breadcrumb-item"><a href="/todoes">Todoes</a></span
      >/
      <span class="breadcrumb-item">Detail</span>
    </div>
    <div class="container">
      <% if (data.message) { %>

      <div class="alert" id="alert">
        <span><%- data.message %> </span>
        <button class="close-btn" onclick="closeAlert()">X</button>
      </div>
      <% } %>
      <main>
        <section class="todo-detail">
          <div class="item-info">
            <h2>Todo Information</h2>
            <div>
              <strong>For Who:</strong>
              <span id="first-name"><%= `${todo.user.firstName} ${todo.user.lastName}` %></span>
            </div>
            <div>
              <strong>Todo:</strong>
              <span id="last-name"><%= todo.guide.title %></span>
            </div>
            <br />
            <a class="btn delete" href="/todoes/<%= todo.id %>/delete"> Delete </a>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
