<main>
  <section class="item-list">
    <h2>All Todoes</h2>
    <div class="item-card">
      <a href="/todoes/create" class="btn">Add Todo</a>
    </div>
    <div class="item-cards">
      <% todoes.forEach(todo => { %>
      <div class="item-card">
        <a href="/todoes/<%= todo.id %>">
          <h3><%= todo.guide.title %></h3>
          <h3><%= `${todo.user.firstName} ${todo.user.lastName}` %> ga</h3>
        </a>
        <br />
        <% if (currentUser.id===todo.user_id) { %>
        <form action="/todoes/<%= todo.id %>/read" method="post">
          <% if (todo.compleated) { %>
          <button class="btn delete" type="submit" disabled>
            Already read
          </button>
          <% } else { %>
          <p><%= todo.guide.content %></p>
          <button class="btn" type="submit">Mark as read</button>
          <% } %>
        </form>
        <% } else{ %>
        <h2>Status:<%= todo.compleated ? "✅" : "❌" %></h2>
        <% } %>
        <a class="btn delete" href="/todoes/<%= todo.id %>/delete"> Delete </a>
      </div>

      <% }) %>
    </div>
  </section>
</main>
