<main>
  <section class="book-detail">
    <div class="book-info">
      <h2><%= book.title %></h2>
      <div>
        <p><%= book.description %></p>
        <p>Author: <a href="/authors/<%= book.authorId %>" target="_blank" rel="noopener noreferrer"><%= authors[book.authorId].name %></a></p>
        <p>Category: <a href="/categories/<%= book.categoryId %>" target="_blank" rel="noopener noreferrer"> <%= categories[book.categoryId].name %></a></p>
        <p>Copies: <%= book.copies %></p>
        <p>Price: $<%= book.price %></p>
        <p>
          Image:
          <img src="<%= book.image %>" height="300" alt="<%= book.title %>" />
        </p>
        <p>Exist: <b><%= book.copies %></b></p>
      </div>
      <br />
      <form action="/orders/books">
        <input type="hidden" name="bookId" value="<%= book.id %>" />
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="1" min="1" />
        <button class="btn" type="submit">Order</button>
      </form>
      <br>
      <div>
        <a class="btn edit" href="/books/<%= book.id %>/edit">Edit</a>
        <a class="btn delete" href="/books/<%= book.id %>/delete">Delete</a>
      </div>
    </div>
  </section>
</main>
