<main>
  <section class="item-list">
    <h2>Books</h2>
    <br>
    <a class="btn success" href="/books/create">Kitob qo'shish</a>
    <br />
    <br />
    <div class="item-cards">
      <% books.forEach(book => { %>
      <div class="item-card">
        <a href="/books/<%= book.id %>">
          <img src="<%= book.image %>" alt="<%= book.title %>" height="200">
          <h3><%= book.title %></h3>
          <p>Cover: <%= `${book.cover}` %>
            <br>Count: <%= `${book.copies}` %>
            <br><%= `${book.description}` %></p>
            <br>Category: <%= categories[book.categoryId].name %>
            <br>Author: <%= authors[book.authorId].name %>
            <br><br>
        </a>
        <br />
         
        <div>
          <a class="btn edit" href="/books/<%= book.id %>/edit">Edit</a>
          <a class="btn delete" href="/books/<%= book.id %>/delete">Delete</a>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
</main>
